@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@800&family=Montserrat:wght@400;700&family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
  --principal-text : #333333;
  --secundari-text : #4F4F4F;
  --other-text : #828282;

  --blue : #2D9CDB;
  --green : #27AE60;
  --red : #EB5757;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins';
}


/* ---HEADER--- */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 42px 52px;
}
.logo {
  font-family: 'Heebo';
  font-size: 36px;
  line-height: 52.88px;
  color: var(--principal-text);
  cursor: pointer;
}
ul {
  display: flex;
  gap: 60px;
}
.links {
  list-style: none;
}
.link {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  text-decoration: none;
  color: var(--principal-text);
}

/* ---MAIN--- */
/* --top-- */
main {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 52px;
}
.top {
  margin-top: 54px;
}
.proposal {
  margin-left: 220px;
}
.color-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: var(--blue);
}
h1 {
  font-size: 48px;
  font-weight: 500;
  line-height: 72px;
  width: 543px;
  color: var(--principal-text);
  margin: 16px 0 42px;
}
.hero-img {
  max-width: 1332px;
  width: 100%;
  border-radius: 18px;
}
h2 {
  font-size: 48px;
  font-weight: 500;
  line-height: 72px;
  width: 366px;
  color: var(--principal-text);
  margin: 42px 0;
}
.description {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  width: 366px;
  color: var(--secundari-text);
}
